#admin-sidebar {
  display: block;
  min-height: 40vh;
}

#infowindow-content .title {
  font-weight: bold;
  font-size: 1.5rem;
}

#infowindow-content #place-address {
  padding-top: .33rem;
}

#infowindow-content {
  display: none;
  overflow: hidden;
}
