#admin {
  padding-top: 60px;
}

#admin > .tab-content > .tab-pane > table {
  background-color: #fff;
}

.modal-content img {
  max-height: 500px;
}

#infowindow-content .title {
  font-weight: bold;
  font-size: 1.5rem;
}

#infowindow-content #place-address {
  padding-top: .33rem;
}

#infowindow-content {
  display: none;
  overflow: hidden;
}

.img-thumbnail {
  max-width: 140px;
  max-height: 140px;
}
